@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&family=Urbanist:wght@600&display=swap');
body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
