.adduser-wrap-container {
    text-align: center;
}
.adduser-grid-container {
    border: 1px solid #0776bc;
    border-radius: 15px;
    box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 5vh;
}