* {
    padding: 0;
    margin: 0;
}
#form-box {
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
    font-weight: bold;
}
#form-box h1{
    text-align: center;
    width: 100%;
    color: #0776bc;
}
#addpost-box {
    display: flex;
    align-items: center;
    justify-content: center
}
.addpostBTN {
    margin-top: 1vh;
}