.profile-admin-div {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#profile-box {
    padding-top: 3vh;
    box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#bio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.profile-header {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    text-align: center;
}
.profile-user-info {
    padding-top: 1vh;
}
#profile-address-box {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile-address-box  p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}