.profile-admin-div {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#profile-box {
    padding-top: 3vh;
    height: 60vh;
    box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#bio-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.profile-header {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    text-align: center;
}
.profile-user-info {
    padding-top: 1vh;
}
#profile-address-box {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile-address-box  p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.profile-edit-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.profile-edu-items {
    display: flex;
    float: left;
}
.profile-edu-items p {
    margin-right: 2vw;
    
}
.profile-edu-container {
    margin-bottom: 3vh;
    display: flex;
    cursor: pointer;
}


.profile-h2-title {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    text-align: left;
}
.profile-workplace-items {
    display: flex;
    float: left;
    cursor: pointer;
}
.profile-workplace-items p {
    margin-right: 2vw;
    
}
.profile-workplace-label p{
    display: flex;
    float: left;
    margin-right: 4vw;
    margin-bottom: 3vh;
}
.profile-items-list {
    margin-bottom: 4vh;
    
}
.profile-education-workplace-wrap {
    margin-top: 3vh;
    padding: 2vh;
    background-color: white;
    border-radius: 10px;
    box-shadow : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.profile-modals {
    display: flex;
}
.profile-modals input{
    float: right;
}